// ============================================================================
// common
// ============================================================================ 
.nav-link.text-muted {
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

// ============================================================================
// login
// ============================================================================ 



// ============================================================================
// card--form
// ============================================================================ 
.card {
    &--form {
        background: #1A252F;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.03), 0px 2px 15px rgba(0, 0, 0, 0.06);
        border-radius: 9px;
        width: 460px;
        display: flex;
        align-items: center;
        padding: 40px;
    }

    &__btn {
        width: 176px;
    }

    &__btn-link {
        font-size: 15px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 991.98px) {
        &--form {
            padding: 20px 15px 30px;
        }

        &__btn {
            width: 160px;
        }
    }

    @media (max-width: 576px) {
        &--form {
            width: 100%;
        }
    }
}

.card-body--form {
    max-width: 320px;
}

.card-title--form {
    font-size: 24px;
    line-height: 165%;
    margin-bottom: 10px;
}

.card-text--form {
    font-size: 15px;
    line-height: 150%;
}

.card-header--form {
    margin-bottom: 20px;
}

// card--form RESPOSIVE
@media (max-width: 991.98px) {
    .card-title--form {
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 5px;
    }
}

// ============================================================================ 
// navbar 
// ============================================================================ 
.navbar-nav {
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 14px;
    line-height: 150%;

    &:hover {
        text-decoration: underline;
    }
}

// responsive
@media (max-width: 991.98px) {
    .navbar-nav {
        max-width: 100%;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
        font-size: 18px;
        font-weight: bold;
        line-height: 150%;
        text-align: center;
    }

    .navbar-collapse {
        align-items: center;
        width: 100%;
        background-color: #1a252f;
        border-radius: 8px;
        margin-top: 15px;
    }

    .navbar-nav .dropdown-menu {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}